@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic+Coding:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 18px;
    color: #d8dee9;
}

body {
    background-color: #2e3440;
    color: #d8dee9;
}

.wrap-codeEditor {
    display: flex;
    flex-direction: column;
}

.codeEditor{
    margin: 30px;
    display: flex;
    flex-direction: column;
    width: 90%;
    min-width: 300px;
}

.codeLine{
    display: flex;
    flex-direction: row;
    align-items: center;
    user-select: none;
}

.lineIndex{
    margin-right: 15px;
    text-align: right;
    width: 20px;
}

input{
    padding: 5px 5px;
    background-color: #2e3440;
    border: 1px solid rgba(255, 255, 255, 0);
    outline: none;
}

.codeInput{
    width: 100%;
    padding: 5px 5px;
    background-color: #2e3440;
    border: 1px solid rgba(255, 255, 255, 0);
    outline: none;
}

.codeInput:focus{
    background-color: rgb(40, 46, 56);
}